{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Todo list</h1>
        </div>
        <div class="row">
            <form action="/" method="post">
                <div class="form-group form-inline">
                    <input name="todo" type="text" class="form-control" placeholder="Nhập việc cần làm" style="width: 90%">
                    <button type="submit" class="btn btn-default">Thêm mới</button>
                </div>
            </form>
        </div>
        <div class="row">
            <ul class="list-group">
                {% for item in data %}
                    {% if item.completed %}
                    <li class="list-group-item list-group-item-success">
                        {{ item.title }}
                        <div class="btn-group-sm pull-right">
                            <a class="btn btn-default" href="/delete/{{ item.id }}"><span class="pull-right glyphicon glyphicon-remove"></span></a>
                        </div>
                    </li>
                        {% else %}
                            <li class="list-group-item">
                                {{ item.title }}
                                <div class="btn-group-sm pull-right">
                                    <a type="button" class="btn btn-default" href="/done/{{ item.id }}"><span class="pull-right glyphicon glyphicon-ok"></span></a>
                                    <a type="button" class="btn btn-default" href="/delete/{{ item.id }}"><span class="pull-right glyphicon glyphicon-remove"></span></a>
                                </div>
                            </li>
                        {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}